@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.6;
}

body {
    background-color: #EFEFEF;
    color: #222222;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #1FA6B6;
}

footer {
    background-color: #3A3A3A;
    color: #FFFFFF;
    padding: 20px;
}

header {
    text-align: center;
    padding: 2rem 0;
}

h1 {
    color: #1FA6B6;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

footer {
    background-color: #3A3A3A;
    color: #FFFFFF;
    min-height: 10vh;
}

footer {
    display: flex;
    align-items: center;      
    justify-content: center;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 0rem;
}

.foto {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.card-laranja {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    margin:0rem 1rem 4rem 1rem;
}
.fundo{
    background-color: #1FA6B6;
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
    top:2rem;
    border-radius:0.5rem;

}

body {
    background-color: #EFEFEF;
}

